version: '2'

services:

    nginx:
        image: nginx:alpine
        container_name: app-nginx
        ports:
            - "8001:80"
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        volumes_from:
            - php
            - node

    node:
        build:
            context: ./node
            dockerfile: Dockerfile
        container_name: app-node
        volumes:
            - ./node:/var/www/html/node

    php:
        build:
            context: ./php
            dockerfile: Dockerfile
        container_name: app-php
        volumes:
            - ./php:/var/www/html/php

    mongo:
        image: mongo:3.4
        container_name: app-mongo
        volumes:
            - ./mongo/data:/data/db
