version: '2'

services:

    nginx:
        image: nginx:alpine
        container_name: app-nginx
        ports:
            - "8000:80"
        volumes:
            - ./php:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        links:
            - php

    php:
        build:
            context: ./php
            dockerfile: Dockerfile
        container_name: app-php
        volumes:
            - ./php:/var/www/html
        links:
            - mongo

    mongo:
        image: mongo:3.4
        container_name: app-mongo
        volumes:
            - ./mongo/data:/data/db
